@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    background-color: black;
    color: white;
    
  }
}
h1{
  font-weight: bold;
  /* font-size: xx-large;   -> text-3xl*/

}
input{
  @apply px-4 mt-10 w-full border-2
}
.note{
  @apply h-75 md:h-95 w-75
}